{
  "ConnectionStrings": {
    "DefaultConnection": "Server=<server-name>;Database=<database-name>;Port=5432;User Id=<user-id>;Password=<database-password>;Ssl Mode=VerifyFull;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*"
}